.paystack-button {
  background-color: #f26600;
  border: 2px solid #f8701c;
  color: #ffffff;
  padding: 7px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  bottom: 0.5rem;
  right: 6rem;

  &:hover {
    background-color: transparent;
    border: 1px solid #f8701c;
    color: #f8701c;
    padding: 6px;
  }
}

/* Date Picker */
.rasta-stripes {
  color: #f26600;
  font-family: poppins;
  font-size: 0.6rem;

  border: none;
  .react-datepicker__week:nth-child(3n + 1) {
    background-color: #ffffff;  
  }
  .react-datepicker__week:nth-child(3n + 2) {
    background-color: rgba(233, 199, 175, 0.3);
  }
  .react-datepicker__week:nth-child(3n + 3) {
    background-color: rgba(223, 140, 82, 0.3);
  }
}